@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container-fluid">
    <div class="title-bar">
      <h4>Enter preferred trail criteria</h4>
    </div>

  <div class="form-box">
    <div class="form-group">
    <form action="/trails/find" method="post">
        <b><label for="difficulty"><h4>Trail Difficulty: </h4></label>
        <p>Factors such as elevation and trail quality increase difficulty.</p>
        <input type="radio" name="difficulty" value="1">Level 1 (easy)</option><br>
        <input type="radio" name="difficulty" value="2">Level 2 </option><br>
        <input type="radio" name="difficulty" value="3">Level 3 (recommended for experienced hikers)</option></b><br><br>

          <h4>Wildlife/Scenery (select all that apply): </h4>
            <input type="checkbox" name="streams" value="1">
            <label for="streams">Streams/Rivers</label>

            <input type="checkbox" name="mountainViews" value="1">
            <label for="mountainViews">Mountain Views</label>

            <input type="checkbox" name="meadows" value="1">
            <label for="meadows">Meadows</label>

            <input type="checkbox" name="lakes" value="1">
            <label for="lakes">Lakes</label>
            <input type="checkbox" name="waterfalls" value="1">
            <label for="waterfalls">Waterfalls</label>

            <input type="checkbox" name="summits" value="1">
            <label for="summits">Summit</label>

            <input type="checkbox" name="dogs" value="1">
            <label for="dogs">Dogs Allowed</label>

        <button type="submit" class="btn btn-info">Find Your Trail</button>

      </form>
    </div>
  </div>

</div>
