@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

  <div class="container-fluid">
    <div class="title-bar">
      <h4>Browse Washington Trails</h4>
    </div>



        <div class="panel panel-info">
          <div class="panel-heading">Anti-Aircraft Peak | Issaquah Alps -- Cougar Mountain </div>
          <div class="panel-body"><a target="_blank" href="/img/maps/antiaircraftmap.png">
            <img src="/img/big/antiaircraftbig.jpeg" alt="antiaircraftpeak" width="600" height="400">
          </a>
          <ul>
            <li>4.75 miles, roundtrip  |  Gain: 450 ft.  |  Highest Point: 1380.0 ft.</li>
            <li>Meadows \ Mountain Views \ Wildlife \ Dogs Allowed \ Summit</li>
          </ul>
          <div class="desc">Hike a loop around Anti-Aircraft Peak in the Cougar Mountain Regional Wildland Park. Hike past sites associated with coal and clay mining, and a former 1950s-era anti-aircraft missile installation. Enjoy good forest trails, some seasonal wildflowers, and a million-dollar view.</div>
        </div>
      </div>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">Ames Lake Forest | SNOQUALMIE REGION -- NORTH BEND AREA </div>
        <div class="panel-body"><a target="_blank" href="/img/maps/amesmap.png">
          <img src="/img/big/amesbig.jpeg" alt="ameslakeforest" width="600" height="400">
        </a>
        <ul>
          <li>Wildlife \ Lakes \ Rivers</li>
        </ul>
        <div class="desc">With many miles of trails that are being improved by King County Parks, Ames Lake Forest is a good option for anyone looking to get away from crowds at Tolt-MacDonald. Keep in mind that this is a watershed though, and be certain to keep Leave No Trace principles in mind in this sensitive area.</div>
      </div>
    </div>
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">Capitol State Forest - McLane Creek | OLYMPIC PENINSULA -- OLYMPIA</div>
        <div class="panel-body"><a target="_blank" href="/img/maps/capitolstatemap.png">
          <img src="/img/big/capitolstatebig.jpeg" alt="capitolstateforest" width="600" height="400">
        </a>
        <ul>
          <li>1.5 miles, roundtrip | Gain: 50 ft. | Highest Point: 60.0 ft.</li>
          <li>Meadows \ Mountain Views \ Wildlife \ Dogs Allowed \ Summit</li>
        </ul>
        <div class="desc">This is one of the best places to go if you're looking for wildlife and a little leg-stretchers. McLane Creek's boardwalk provides an intimate glimpse into nature, whether it's swimming families of news, spawning salmon, or laughing ducks. As always, please refrain from feeding the wildlife.</div>
      </div>
    </div>
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">Foggy Dew Creek | NORTH CASCADES -- METHOW/SAWTOOTH</div>
        <div class="panel-body"><a target="_blank" href="/img/maps/foggydewmap.png">
          <img src="/img/big/foggydewbig.jpeg" alt="foggydewcreek" width="600" height="400">
        </a>
        <ul>
          <li>14.0 miles, roundtrip | Gain: 4620 ft. | Highest Point: 8050.0 ft.</li>
          <li> Mountain Views \ Wildlife \ Summit</li>
        </ul>
        <div class="desc">A valley walk along Foggy Dew Creek with two large waterfalls, followed by a steep climb into beautiful Merchant's Basin, culminating in expansive views of the Sawtooth and Entiat ranges from the top of Angel's Staircase.</div>
      </div>
    </div>
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">Granite Creek Trail to Granite Lakes | SNOQUALMIE REGION -- NORTH BEND AREA</div>
        <div class="panel-body"><a target="_blank" href="/img/maps/granitecreekmap.png">
          <img src="/img/big/granitebig.jpeg" alt="granitecreektrail" width="600" height="400">
        </a>
        <ul>
          <li>8.8 miles, roundtrip | Gain: 2270 ft. | Highest Point: 3070.0 ft.</li>
          <li>Waterfalls \ Mountain Views \ Wildlife \ Dogs Allowed \ Rivers \ Summit</li>
        </ul>
        <div class="desc">Granite Creek courses through the gorge between Mailbox Peak and Russian Butte. Ascend through the creek’s ravine, immersed in mountain rainforest, alongside whitewater rapids, waterfalls, wildflowers, and mushrooms, while you take in majestic views of the mountains of the Middle Fork valley. Seasonal treats include berries and fall colors.</div>
      </div>
    </div>




</div>
