@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;


  <!DOCTYPE html>
  <html>
  <head>
  <style>
  </style>
  </head>
  <body>
    <div class="title-bar">
      <h4>Trails</h4>
    </div>
  <div class="box">
    <h2>Browse Washington Trails</h2>
    <h4>Click on an image for more information</h4>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/trail1.jpg">
          <img src="/img/trail1.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>


    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/trail3.jpg">
          <img src="/img/trail3.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/trail4.jpg">
          <img src="/img/trail4.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/marmot.jpg">
          <img src="/img/marmot.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/trail1.jpg">
          <img src="/img/trail1.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/waterfalls3.jpg">
          <img src="/img/waterfalls3.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="/img/waterfall1.jpg">
          <img src="/img/waterfall1.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div style="padding:6px;">
      <p>The standard Lorem Ipsum passage, used since the 1500s
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>

  </body>
  </html>
