@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container">
  <div class="box">
  <div class="title-bar">
    <h4>Add a New Trail to Database</h4>
  </div>


  <form action="/trails/create" method="post">
    <div class="form-group">
      <label for="name">Trail Name: </label>
      <input class="form-control" type="text" name="name" required>
    </div>
    <div class="form-group">
      <label for="difficulty">Trail Difficulty: </label>
      <select class="form-control" name="difficulty" required>
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option>
      </select>
    </div>
    <div>
      <label for="distance">Distance (in miles): </label>
      <input class="form-control" type="float" name="distance" required>
    </div>
    <div>
      <label for="waterfalls">Waterfalls: </label>
      <select class="form-control" name="waterfalls" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div>
      <label for="summits">View Points</label>
      <select class="form-control" name="summits" required>
        <option value="1">Summit Only</option>
        <option value="2">Two View Points</option>
        <option value="3">Three or more View Points</option>
      </select>
    </div>

    <div class="form-group">
      <h5>Wildlife/Scenery (select all that apply): </h5>

        <input type="checkbox" name="streams" value="true">
        <label for="streams">Streams/Rivers</label>
        <input type="checkbox" name="mountainViews" value="true">
        <label for="mountainViews">Mountain Views</label>
        <input type="checkbox" name="meadows" value="true">
        <label for="meadows">Meadows</label>
        <input type="checkbox" name="lakes" value="true">

        <label for="lakes">Lakes</label>
        @* <input type="checkbox" name="waterfalls" value="waterfalls">
        <label for="meadows">Waterfalls</label>
        <input type="checkbox" name="views" value="views">
        <label for="views">View Points</label> *@
    </div>
    <div class="form-group">
      <label for="dogs">Dogs Allowed?</label>
      <select class="form-control" name="dogs">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <button type="submit" class="btn btn-info">Add Trail</button>

  </form>
</div>
</div>
