@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container body-content">
  <div class="box">
    <div class="title-bar">
      <h4>User Login</h4>
    </div>

      <form action="/overview" method="get">

            <label for="user">UserName</label><br>
            <input type="text" id="user" name="user">

            <label for="password">Password</label><br>
            <input type="text" id="password" name="password">
            <a href="/overview"><button type="button">Login</button></a>

      </form>

  </div>
</div>
