@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container body-content">
  <div class="box">
    <div class="title-bar">
      <h4>View Profile</h4>
    </div>

      @* @foreach (User user in Model)
      {
        <tr>
          <td><a href='/users/@user.GetId()'>@user.GetFirstName() @user.GetLastName()</a></td>
          <td>@user.GetPhone()</td>
        </tr>
      }
      </table>
    } *@
    <nav class="bottom">
      <a href="/users/new"><button type="button">Create a user account</button></a>
      <a href="/users"><button type="button">Log In</button></a>
      <a href='/users/@Model["user"].GetId()/edit'><button type="button">Edit Profile</button></a>
      <a href='/users/@Model["user"].GetId()/delete'><button type="button">Delete Profile</button></a>
    </nav>
  </div>
</div>
