@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container body-content">
  <div class="box">
    <div class="title-bar">
      <h4>View Profile</h4>
    </div>

      @* @foreach (User hiker in Model)
      {
        <tr>
          <td><a href='/hikers/@hiker.GetId()'>@hiker.GetFirstName() @hiker.GetLastName()</a></td>
          <td>@hiker.GetPhone()</td>
        </tr>
      }
      </table>
    } *@
    <nav class="bottom">
      <a href="/hikers/new"><button type="button">Create a hiker account</button></a>
      <a href="/hikers"><button type="button">Log In</button></a>
      <a href='/hikers/@Model["hiker"].GetId()/edit'><button type="button">Edit Profile</button></a>
      <a href='/hikers/@Model["hiker"].GetId()/delete'><button type="button">Delete Profile</button></a>
    </nav>
  </div>
</div>
