/* .container_body {
  position: fixed;
  top: 20%;
} */

body {

  background-image: url("/img/trail2.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}
