@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container body-content">
  <div class="box">
    <div class="title-bar">
      <h4>Welcome! You should take a hike.</h4>
    </div>

  </div>
</div>
