@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;

<div class="container body-content">
  <div class="box">
    <div class="title-bar">
      <h4>Welcome! You should take a hike.</h4>
    </div>
    <a href="/trails"><button type="button">See all trails in our gallery</button></a>
    <a href="/trails/find"><button type="button">Find YOUR perfect trail</button></a>
    <img src="/img/hiker.jpg" alt="Hiker" width="100%" >


  </div>
</div>
