@{
  Layout = "_Layout";
}
@using TakeAHike.Models;
@using TakeAHike;


@{
    Layout = "_Layout";
}
<div class="container_body">
    <div>
        <h1>Take a Hike</h1>
    </div>
    <div>
        <h3>Login</h3>
    </div>

    <div>
        <form action="/overview" method="get">
        <div>
            <label for="user">UserName</label><br>
            <input type="text" id="user" name="user"/>
        </div>
        <div>
            <label for="password">Password</label><br>
            <input type="text" id="password" name="password"/>
            <a href="/overview"><button type="button">Login</button></a>
        </div>
        </form>
    </div>
</div>
