
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/css/styles.css?v=1.32">
        <title>Take a Hike!</title>
  </head>
  <body style="height:1500px">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      @RenderBody()
      <div class="navbar-header">
        <a class="navbar-brand" href="#">TakeAHike</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/trails">Trails</a></li>
        <li><a href="/users">Hikers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/createform"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  <div class="container body-content">

  </div>
  </body>
</html>
